<a href="/users"><h2>Back</h2></a>

<form class="form" action="{{action}}" method="post">

  <label for="name" class="form-item">
    Name:
    <input type="text" name="name" value="{{name}}">
  </label>

  <label for="email" class="form-item">
    Email:
    <input type="text" name="email" value="{{email}}">
  </label>

  <input type="submit" name="" value="Submit">
</form>