<!DOCTYPE html>
<html>
  <head>
    <title>EDA Phase 1 Express Boilerplate</title>
  </head>
  <body>
    <a href="/users/new"><h2>Add New User</h2></a>
    <ul>
    {{#each users}}
      <li><a href="/users/{{id}}">{{name}}</a>({{email}})</li>
    {{/each}}
    </ul>
  </body>
</html>
